@page "/"

<h1>Hello, I'm Omid Rajabalian</h1>
<p/>
<h5>This project developed with latest technologies</h5>
<ul class="list-group">
    <li class="list-group-item">.Net Core 3.1</li>
    <li class="list-group-item">MongoDb</li>
    <li class="list-group-item">Rabitmq</li>
    <li class="list-group-item">Microsoft DI IOC</li>
    <li class="list-group-item">Micro Service</li>
    <li class="list-group-item">Blazor SPA</li>
    <li class="list-group-item">Docker</li>
    <li class="list-group-item">Im-Memory Cache</li>
</ul>
<SurveyPrompt Title="Rajabalian.Omid@gmail.com" Phone="+4917669454824" Url="https://www.linkedin.com/in/omid-rajabalian-28189953/" />

Best Regards
